.JokeError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.JokeError .button-container {
  display: flex;
  justify-content: space-between;
}
