.CategoryList {
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.CategoryList li {
}

.CategoryList li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.CategoryList a {
    display: flex;
    align-items: center;
    display: block;
    padding: 9px;
    text-transform: capitalize;
}

.CategoryList img {
    width: 40px;
    vertical-align: middle;
    margin-right: 5px;
}