.JokeDone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .JokeDone {
        padding: 0 15px;
    }
}